/*container*/

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
  margin-left: 168px;
  margin-right: 152px;
}

.header-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 29px;
  margin-right: 165px;
}
 
.headline {
  background-image: url("../images/Nike.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.headline .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-size: cover;
background-position: center;

}

.quality {
  background-image: url("../images/gradientquality.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.quality {
  display: flex;
  justify-content: center;
}

.quality {
  position: relative;
}

.quality::before {
  content: "";
  position: absolute;
  top: 105px;
  bottom: 105px;
  left: 165px;
  right: 165px;
  border: 5px solid #8E32C6;
}


.quality-list {
  display: flex;
  gap: 145px;
}


.quality-item {
  display: flex;
  flex-direction: column ;
  gap: 4px;
}

.reviews {
    background-image: 
    url("../images/gradientreviews.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 
    center;
}

.reviews {
  position: relative;
}

.reviews::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 340px;
  height: 380px;
  background: url("../images/leaves.png") left bottom / contain no-repeat;
}


.reviews-list {
  display: flex;
}

.reviews-item:first-child {
  border-radius: 15px;
  width: 255px;
height: 292px;
  background: linear-gradient(
    to right bottom,
    #00E5E6,
    #00A8F7,
    #9A76F9,
    #CC5EC2
  );
}

.reviews-item:nth-child(2) {
  border-radius: 15px;
  width: 255px;
height: 292px;
margin-left: 93px;
  background: linear-gradient(
    to right bottom,
    #FF68B4,
    #FF45E1,
    #CE3AFF,
    #8961FF
  );
}

.reviews-item:last-child {
  border-radius: 15px;
  width: 255px;
height: 292px;
margin-left: 93px;
margin-right: 246px;
  background: linear-gradient(
    to right bottom,
    #FFE128,
    #FF9B5C,
    #FF8381,
    #FF5489
  );
}

.reviews-maintext {
  display: flex;
}

.order {
  background-image: url("../images/gradientorder.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*disign*/
.header {
    background-color: #012D63;
}

.headline-button {
background-color: #8E32C6;
border-radius: 10px;
width: 254px;
height: 67px;
}

.quality-text {
  text-align: center;
}

.quality-line{
  display: block; 
  line-height: 1.40;
}


.footer {
    background-color: #021635;
}

/*Roboto Regular*/
.header-page {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
}

.header-language.lang.active-lang {
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 24px;
color: #FFFFFF;
margin-left: 72px;
}


.headline-text {
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 18px;
color: #FFFFFF;
margin-top: 19px;
margin-left: 164px;
margin-right: 768px;
}

.headline-button {
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 24px;
color: #FFFFFF;
margin-top: 41px;
margin-left: 164px;
margin-right: 1022px; 
margin-bottom: 183px;
}

.reviews-maintext {
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 24px;
color: #FFFFFF;
margin-bottom: 8px;
margin-left: 13px;
margin-right: 14px;
margin-top: 49px;
}

.reviews-date {
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 14px;
color: #D8D8D8;
margin-bottom: 47px;
}

.reviews-subtitle {
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 14px;
color: #FFFFFF;
margin-bottom: 1px;
}

.reviews-text {
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 12px;
color: #D8D8D8;
}

.order-input {
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 28px;
color: #959595;
}

.order-button {
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 24px;
color: #FFFFFF;
}

.footer-subtitle {
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 24px;
color: #FFFFFF;
}

.footer-page {
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 24px;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #FFFFFF;}

.footer-text {
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 18px;
color: #FFFFFF;
}

/*Playfair Display Regular*/

.headline-title {
font-family: 'Playfair Display', serif;
font-weight: 400;
font-size: 144px;
color: #FFFFFF;
margin-top: -20px;
margin-left: 156px;
margin-right: 644px;
}

.headline-subtitle {
font-family: 'Playfair Display', serif;
font-weight: 400;
font-size: 72px;
color: #FFFFFF;
margin-left: 164px;
margin-right: 736px;
margin-top: -10px;
}

.quality-text {
font-family: 'Playfair Display', serif;
font-weight: 400;
font-size: 36px;
text-align: center;
color: #FFFFFF;
}

.reviews-title {
font-family: 'Playfair Display', serif;
font-weight: 400;
font-size: 48px;
text-align: center;
color: #FFFFFF;
}

.order-title {
font-family: 'Playfair Display', serif;
font-weight: 400;
font-size: 48px;
color: #FFFFFF;
}

/*Roboto Light*/

.header-page.active {
font-family: 'Roboto', sans-serif;
font-weight: 300;
font-size: 24px;
color: #C7C7C7;
}

.header-language.active {
  font-family: 'Roboto', sans-serif;
font-weight: 300;
font-size: 24px;
color: #DCDCDC;
}


/*PT Serif Regular*/

.headline-pretitle {
font-family: 'PT Serif', serif;
font-weight: 400;
font-size: 48px;
color: #FFFFFF;
margin-left: 195px;
margin-right: 1067px;
margin-top: -24px;
}

.footer-pretitle {
font-family: 'PT Serif', serif;
font-weight: 400;
font-size: 24px;
color: #FFFFFF;
}

/*paddings*/

.logo-photo {
  padding-top: 16px;
  padding-bottom: 14px;
}

.header-list {
  padding-top: 30px;
  padding-bottom: 30px;
}

.headline-photo {
    width: 160px;
    height: 120px;
  margin-top: 94px;
  margin-left: 170px;
  margin-right: 1110px;
}

.quality {
  padding-left: 215px;
  padding-right: 215px;
  padding-top: 130px;
  padding-bottom: 130px;
}

.quality-list {
  display: flex;
  gap: 145px;
}

.reviews {
  padding-left: 243px;
}
