/*container*/

.container {
width: 1440px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
  margin-left: 168px;
  margin-right: 152px;
}

.header-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 29px;
  margin-right: 165px;
}



.headline{
    background-image: 
    url("../images/Nike.jpg");
    background-repeat: no-repeat;
}

.quality  {
    background-image: 
    url("../images/gradientquality.jpg");
    background-repeat: no-repeat;
}

.reviews{
    background-image: 
    url("../images/gradientreviews.jpg");
    background-repeat: no-repeat;
}

.order{
    background-image: 
    url("../images/gradientorder.png");
    background-repeat: no-repeat;
}

/*disign*/

.header {
    background-color: #012D63;
}

.footer {
    background-color: #021635;
}

/*Roboto Regular*/
.header-page {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
}

.header-language.lang.active-lang {
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 24px;
color: #FFFFFF;
margin-left: 73px;
}

.headline-text {
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 18px;
color: #FFFFFF;
}

.headline-button {
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 24px;
color: #FFFFFF;
}

.reviews-maintext {
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 24px;
color: #FFFFFF;
}

.reviews-date {
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 14px;
color: #D8D8D8;
}

.reviews-subtitle {
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 14px;
color: #FFFFFF;
}

.reviews-text {
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 12px;
color: #D8D8D8;
}

.order-input {
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 28px;
color: #959595;
}

.order-button {
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 24px;
color: #FFFFFF;
}

.footer-subtitle {
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 24px;
color: #FFFFFF;
}

.footer-page {
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 24px;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #FFFFFF;}

.footer-text {
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 18px;
color: #FFFFFF;
}

/*Playfair Display Regular*/

.headeline-title {
font-family: 'Playfair Display', serif;
font-weight: 400;
font-size: 144px;
color: #FFFFFF;
}

.headeline-subtitle {
font-family: 'Playfair Display', serif;
font-weight: 400;
font-size: 72px;
color: #FFFFFF;
}

.quality-text {
font-family: 'Playfair Display', serif;
font-weight: 400;
font-size: 36px;
text-align: center;
color: #FFFFFF;
}

.reviews-title {
font-family: 'Playfair Display', serif;
font-weight: 400;
font-size: 48px;
text-align: center;
color: #FFFFFF;
}

.order-title {
font-family: 'Playfair Display', serif;
font-weight: 400;
font-size: 48px;
color: #FFFFFF;
}

/*Roboto Light*/

.header-page.active {
font-family: 'Roboto', sans-serif;
font-weight: 300;
font-size: 24px;
color: #C7C7C7;
}

.header-language.active {
  font-family: 'Roboto', sans-serif;
font-weight: 300;
font-size: 24px;
color: #DCDCDC;
}


/*PT Serif Regular*/

.headline-pretitle {
font-family: 'PT Serif', serif;
font-weight: 400;
font-size: 48px;
color: #FFFFFF;
}

.footer-pretitle {
font-family: 'PT Serif', serif;
font-weight: 400;
font-size: 24px;
color: #FFFFFF;
}

/*paddings*/

.logo-photo {
  padding-top: 16px;
  padding-bottom: 14px;
}

.header-list {
  padding-top: 30px;
  padding-bottom: 30px;
}